@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "Gordita";
      font-weight: 400;
      src: url("../public/fonts/GorditaRegular.woff") format('woff')
  }
  @font-face {
    font-family: "Gordita-Light"; 
    font-weight: light;
    src: url("../public/fonts/GorditaLight.woff") format('woff')
  }
}

@layer components {
  .wrapper {
    max-width: 1536px;
    width: 90%;
    margin: 0 auto;
  }
}