@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: "Gordita";
      font-weight: 400;
      src: url("../public/fonts/GorditaRegular.woff") format('woff')
  }
  @font-face {
    font-family: "Gordita Light"; 
    font-weight: 300;
    src: url("../public/fonts/GorditaLight.woff") format('woff')
  }
}

@layer components {
  .wrapper {
    max-width: 1536px;
    width: 90%;
    margin: 0 auto;
  }

  .wrapper-sm {
    max-width: 1536px;
    width: 95%;
    margin: 0 auto;
  }

  .border-1 {
    border-width: 1px;
  }

  .border-b-1 {
    border-bottom-width: 1px;
  }

  .transition-accordion-active {
    max-height: 9999px;
    transition: all .5s cubic-bezier(1, 0, 1, 0);
  }

  .transition-accordion-hidden {
    max-height: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(0, 1, 0, 1);
  }

  .btn-green {
    @apply bg-jobi-green-dark border-jobi-green-dark text-white hover:bg-jobi-green-lime hover:border-jobi-green-lime hover:text-jobi-green-dark focus:bg-jobi-green-lime focus:border-jobi-green-lime focus:text-jobi-green-dark
  }

  .btn-lime {
    @apply  bg-jobi-green-lime border-jobi-green-lime text-black hover:bg-jobi-green-bright hover:border-jobi-green-bright focus:bg-jobi-green-bright focus:border-jobi-green-bright
  }

  .btn-outline {
    @apply bg-transparent border-white text-white hover:border-jobi-green-lime hover:text-jobi-green-lime focus:border-jobi-green-lime focus:text-jobi-green-lime
  }

  .btn-blue {
    @apply bg-jobi-blue border-blue-300 text-jobi-black hover:bg-blue-300 focus:bg-blue-300
  }

  .btn-cream {
    @apply bg-jobi-cream border-amber-200 text-jobi-black hover:bg-amber-200 focus:bg-amber-200
  }

  .btn-pink {
    @apply bg-jobi-pink border-pink-300 text-jobi-black hover:bg-pink-300 focus:bg-pink-300
  }

  .btn-lightgreen {
    @apply bg-jobi-green-light border-jobi-green-bright text-jobi-black hover:bg-jobi-green-bright focus:bg-jobi-green-bright
  }

  .btn-lavender {
    @apply bg-jobi-lavender border-purple-300 text-jobi-black hover:bg-purple-300 focus:bg-purple-300
  }

  .btn-orange {
    @apply bg-jobi-orange border-orange-300 text-jobi-black hover:bg-orange-300 focus:bg-orange-300

  }
}